<div ngClass="class_main_container class_section1_container">
    <span #idObservable ngClass="class_section_title class_title">Busca el producto que más te guste</span>

    <div ngClass="class_section1_products_container">
        <div #idObservable *ngFor="let item of [].constructor(6); index as i" ngClass="class_section_1_products">
            <img #idImage ngClass="class_section_1_image" src={{items[i].image}}/>
            <!-- {{items[i].title}} -->

            <div ngClass="class_section_1_image_title_container">
                <span #idTitle>{{items[i].title}}</span>
            </div>
        </div>
    </div>
    
    <SectionNumber [page]="'02'" [title]="'SECCIÓN-2'"></SectionNumber>
</div>