<div ngClass="class_header_container">
    <div ngClass="class_header_title_container">
        <span #idObservable ngClass="class_title">Tus compras, a tu alcance</span>

        <div ngClass="class_header_subtitle_container">
            <span #idObservable ngClass="class_subtitle">Compra productos en una gran variedad de catálogos y</span>
            <span #idObservable ngClass="class_subtitle">accede a productos con descuentos únicos</span>
            <span #idObservable ngClass="class_subtitle">utiliza Mercado Pago para realizar tu compra.</span>
        </div>

    </div>
    
    <div ngClass="class_header_image_container">
        <img src="assets/images/image_1.png"/>
    </div>

    <SectionNumber [page]="'01'" [title]="'SECTION-1'"></SectionNumber>
</div>