<div ngClass="class_header_container">
    <div ngClass="class_header_title_container">
        <span #idObservable ngClass="class_title">Tus compras, a tu alcance</span>

        <div ngClass="class_header_subtitle_container">
            <span #idObservable ngClass="class_subtitle">
                Busca más de 200 productos en una gran variedad de catálogos,
                elige el producto que más te guste y guárdalo en el carro de compras
            </span>
        </div>

    </div>
    
    <div #idObservable ngClass="class_header_image_container">
        <img src="assets/images/image_1.png"/>
    </div>

    <SectionNumber [page]="'01'" [title]="'SECCIÓN-1'"></SectionNumber>
</div>