<div ngClass="class_main_container class_section4_container">
    <span #idObsevable ngClass="class_section_title class_title">Te ofrecemos</span>

    <div ngClass="class_section4_vendor_container">
        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.iconComfort">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">
                <span ngClass="class_section4_icon_title">Comodidad</span>
                <span ngClass="class_section4_icon_subtitle">Accede a la tienda desde cualquier dispositivo.</span>
            </div>
        </div>

        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.iconScope">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">

                <span ngClass="class_section4_icon_title">Alcance</span>
                <span ngClass="class_section4_icon_subtitle">Productos a tu alcance, cuando quieras, en cualquier momento.</span>
            </div>
        </div>

        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.iconDiscount">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">

                <span ngClass="class_section4_icon_title">Descuentos</span>
                <span ngClass="class_section4_icon_subtitle">Grandes descuentos de tus productos favoritos.</span>
            </div>
        </div>
    </div>

    <div ngClass="class_section4_vendor_container">
        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.iconCosts">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">

                <span ngClass="class_section4_icon_title">Precios cuidados</span>
                <span ngClass="class_section4_icon_subtitle">Cuidamos tu dinero y el precio de cada unidad.</span>
            </div>
        </div>

        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.icon24Hours">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">
                <span ngClass="class_section4_icon_title">24 Horas</span>
                <span ngClass="class_section4_icon_subtitle">Ingresa a la hora que quieras y en el momento que quieras.</span>
            </div>
        </div>

        <div #idObsevable ngClass="class_section4_vendor">
            <div ngClass="class_section4_icon" [innerHTML]="this.iconPayment">
            </div>
            <!-- <img src="https://imageio.forbes.com/specials-images/imageserve/6165a62a1644244809246736/Businesswoman-Discussing-On-Video-Call-In-Home-Office/960x0.jpg?format=jpg&width=960"/> -->
            
            <div ngClass="class_section4_title_container">

                <span ngClass="class_section4_icon_title">Tarjetas</span>
                <span ngClass="class_section4_icon_subtitle">Paga desde la comodidad de tu hogar, en las cuotas que quieras.</span>
            </div>
        </div>
    </div>

    <SectionNumber [page]="'05'" [title]="'SECCIÓN-05'"></SectionNumber>
</div>