<div ngClass="class_main_container class_section3_container">
    <div ngClass="class_section3_description_container">
        <span ngClass="class_section3_description_title">ACERCA DE ESTE PROYECTO</span>
        
        <span ngClass="class_section3_description_subtitle">
            Este proyecto está realizado con el fin de aumentar conocimientos, simula un posible comercio electrónico con todas sus funciones.
            El mismo está realizado en Angular y es el primero con cuya tecnología es realizado. La estructura del diseño es una mezcla de diversos
            diseños encontrados en internet libres de derecho de autor.
        </span>
    </div>
</div>