<div ngClass="class_main_container class_section3_container">
    <div ngClass="class_section3_description_container">
        <span #idObsevable ngClass="class_section3_description_title">ACERCA DE NOSOTROS</span>
        
        <span #idObsevable ngClass="class_section3_description_subtitle">
            En Electronic-Shop, estamos comprometidos a brindar el mejor servicio de compra en línea posible. 
            Ofrecemos una amplia selección de productos de alta calidad, un servicio 
            excepcional al cliente y una experiencia de compra sin complicaciones. Creemos que cada cliente merece sentirse valorado y escuchado, 
            y nos esforzamos por hacer que eso suceda en cada interacción que tenemos. ¡Gracias por elegir Electronic-Shop para todas tus 
            necesidades de compras en línea!
        </span>
    </div>
</div>